body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: lightgreen;
}
.page-title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.video-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.video-container iframe {
  display: block;
  margin: 0 auto;
}
.lyrics-container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    color: white;
}
.lyrics-container p {
    font-weight: bold; 
    font-size: 1.2em;
}

