header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #1DB954;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #282828;
  border-radius: 30px;
  transition: background-color 0.2s ease;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #b3b3b3;
  font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 100%;
  margin-right: 10px;
  background-color: #333333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease;
}

input[type="text"]:focus, button:focus {
  outline: none;
}

input[type="text"]:focus {
  background-color: #424242;
}

button:hover, .search-container:hover {
  background-color: #1DB954;
}
