.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 60%;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }  
  

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191414;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    margin-bottom: 30px;
  }
  
  .logo img {
    width: 150px;
    height: 150px;
  }
  
  h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
  }
  
  a {
    color: #1DB954;
    text-decoration: none;
  }

  .sign-in-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  