
<!DOCTYPE html>
<html>
  <!--<div class="search-container"> 
    <input type="text" placeholder="Search for songs, artists, or albums">
    <button>Search</button>
  </div>-->
  <head>   
    <title>Karaokify Login</title>
  </head>
  <body>
    <div class="login-container">
      <div class="logo">
        <img src="karaokify-logo.png" alt="Spotify logo">
      </div>
      <h2>Welcome to Karaokify</h2>
      <h3>Login with your Spotify account to begin</h3>
      <form>
        <input type="email" placeholder="Email" name="username" [(ngModel)]="username">
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
        <button mat-raised-button type="submit" (click)="UserLogIn()">Sign In</button>
        <p>Forgot your password? <a mat-raised-button href="https://accounts.spotify.com/en/password-reset" color="warn" type="reset" target="_blank">Reset Here</a></p>
      </form>
      <!--<button class="sign-in-button">Sign in with Spotify</button> -->
    </div>
  </body>
</html>
